{% extends 'ValBundle::layout.html.twig' %}

{% block title %}{{ 'register.edit.title'|trans }}{% endblock %}

{% block content_body %}
<div class="container">
    {{ form(edit_form) }}
</div>
<div class="container">
<a href="{{ path('register') }}" class="btn btn-default">{{ 'btn_com.index'|trans }}}</a>
{{ form(delete_form) }}
</div>
{% endblock %}
