{% extends 'ValBundle::layout.html.twig' %}

{% block title %}{{ 'register.index.title'|trans }}{% endblock %}

{% block content_body %}
<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>{{ 'register.name'|trans }}</th>
                <th>{{ 'register.nickname'|trans }}</th>
                <th>{{ 'register.remarks'|trans }}</th>
                <th>{{ 'col_com.createdBy'|trans }}</th>
                <th>{{ 'col_com.updatedBy'|trans }}</th>
                <th>{{ 'col_com.createdAt'|trans }}</th>
                <th>{{ 'col_com.updatedAt'|trans }}</th>
                <th>{{ 'col_com.deletedAt'|trans }}</th>
                <th>{{ 'col_com.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('register_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.remarks }}</td>
                <td>{{ entity.createdBy }}</td>
                <td>{{ entity.updatedBy }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.deletedAt %}{{ entity.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('register_show', { 'id': entity.id }) }}" class="btn btn-default">{{ 'btn_com.show'|trans }}</a>
                    <a href="{{ path('register_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ 'btn_com.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <a href="{{ path('register_new') }}" class="btn btn-default">新規登録</a>
</div>
{% endblock %}